<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToDoList</title>
    <script src="/js/jquery-3.4.0.min.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div id="task-form">
        <form>
            <h2>Добавление задания</h2>
            <label>Название задания:</label>
            <input type="text" name="name" value="">
            <label>Описание:</label>
            <input type="text" name="description" value="">
            <hr>
            <button id="save-task">Сохранить</button>

        </form>
    </div>
    <h1>Список дел (<span th:text="${tasksCount}">0</span>)</h1>
    <button id="show-add-task-form">Добавить задание</button>
    <hr>
    <button id="delete-task-form">Удалить</button>
    <br><br>
    <div id="task-list">
        <div th:each="task : ${tasks}">
            <a href="#" class="task-link" th:attr="data-id=${task.id}" th:text="${task.name}"></a>
        </div>
    </div>
    <p th:text="${someParameter}"></p>
</body>
</html>